@page "/categoria/create"
@inject HttpClient http
@inject IJSRuntime runtime
@inject SweetAlertService swl


<h3>Registrar Categoria</h3>
<CategoriaForm Id="0" Save="@Save" Categoria="@Categoria">

</CategoriaForm>
@code {


    CategoriaCreateDTO Categoria = new CategoriaCreateDTO();

    async Task Save()
    {
       var result= await http.PostAsJsonAsync($"{SharedProject.Api.url}/Categoria", Categoria);
        if (result.StatusCode == System.Net.HttpStatusCode.Created)
        {
            await new Utils.Functions(runtime, swl).ShowSaved();

        }
        else await new Utils.Functions(runtime, swl).ShowError("No fue posible realizar la operacion", "Error");

    }
}
