@page "/comprobante/edit/{Id:int}"
@using SharedProject.Models;
@inject HttpClient http
@inject IJSRuntime runtime;
@inject SweetAlertService swl;

<h3>Editar comprobante</h3>
<ComprobanteForm Id="Id" Save="@Save" comprobante="@comprobante">

</ComprobanteForm>

@code {
    [Parameter]
    public int Id { get; set; }

    NumeracionComprobante comprobante = new NumeracionComprobante();

    async Task Save()
    {
        var result = await http.PutAsJsonAsync($"{SharedProject.Api.url}/NumeracionComprobante/{Id}", comprobante);
        if (result.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
          await  new Utils.Functions(runtime, swl).ShowSaved();    

        }
        else await new Utils.Functions(runtime, swl).ShowError("No fue posible realizar la operacion","Error");



    }

    protected async override Task OnParametersSetAsync()
    {
        // Llama al método base para realizar las operaciones por defecto
        await base.OnParametersSetAsync();

        comprobante = await http.GetFromJsonAsync<NumeracionComprobante>($"{SharedProject.Api.url}/NumeracionComprobante/{Id}");


    }
}
