@inherits LayoutComponentBase
@using Utils;

<div class="page">
    @if (AppState.IsMenuVisible)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }


    <main>
        @if (AppState.IsSalirVisible)
        {
            
        <div class="top-row px-4">
                <button @onclick="Delete" target="_blank">Salir</button>
            </div>
        }

       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    bool MostrarMenu;

    UsuarioViewDTO usuario;
    [Inject]
    protected IJSRuntime JSRuntime { get; set; }
    [Inject] protected SweetAlertService swl { get; set; }

    [Inject]
    protected NavigationManager NavigationManager { get; set; }


    public async Task Delete()
    {
        await new Functions(JSRuntime, swl).EliminarUsuarioDesdeLocalStorage();
        AppState.HideMenu();
        AppState.HideSalir();
        NavigationManager.NavigateTo("/login");

    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            usuario = await new Functions(JSRuntime, swl).LeerUsuarioDesdeLocalStorage();

            if (usuario == null)
            {
                AppState.HideSalir();
                AppState.HideMenu();
                NavigationManager.NavigateTo("/login");

            }
            else if (usuario != null)
            {
                AppState.ShowSalir();
                if (usuario.RolId == 1)
                {
                    AppState.ShowMenu();
                }

            }
        }
        catch (Exception ex)
        {
            
            
        }
        // Leer datos del LocalStorage al inicializar el componente
       
    }
}