<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">L y M Systems</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-shopping-cart" aria-hidden="true"></span> &nbsp;Frente de caja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Venta/list">
                <span class="fas fa-box-open" aria-hidden="true"></span>&nbsp;Ventas Realizadas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Compra/lista">
                <span class="fas fa-box-open" aria-hidden="true"></span>&nbsp;Compras Realizadas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categoria/list">
                <span class="fas fa-list" aria-hidden="true"></span>&nbsp;Categorías
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rol/list">
                <span class="fas fa-users" aria-hidden="true"></span>&nbsp;Roles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documento/list">
                <span class="fas fa-file-alt" aria-hidden="true"></span>&nbsp;Documentos
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comprobante/list">
                <span class="fas fa-receipt" aria-hidden="true"></span>&nbsp;Comprobantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cliente/list">
                <span class="fas fa-user" aria-hidden="true"></span>&nbsp;Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuario/list">
                <span class="fas fa-user-circle" aria-hidden="true"></span>&nbsp;Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Proveedor/list">
                <span class="fas fa-truck" aria-hidden="true"></span>&nbsp;Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Producto/list">
                <span class="fas fa-box-open" aria-hidden="true"></span>&nbsp;Productos
            </NavLink>
        </div>
  

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comtes">
                <span class="fas fa-box-open" aria-hidden="true"></span>&nbsp;Compras
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

}
